@charset "utf-8";
.fluid {
    background-color: #6D4B36;
    color: #FFFFFF;
}
.background {
    background-color: #DFCBBF;
}
.pageTitle {
    font-size: 50px;
    text-decoration: underline;
    color: #3B2613;
}
.form {
    color: #231701;
    font-weight: lighter;
    font-size: small;
}
